@media (max-width: 768px) {
	.navbar-inverse {
		.navbar-header {
			.navbar-brand {
				display: block;
				width: 100%;
				text-align: center;
				
				img {
					margin: auto;
				}
			}			
		}
	}
}