// import main bootstrap less file for access to all mixins and variables
@import "../js/libs/bootstrap/less/bootstrap.less";

//Color definitions
@base-green: #00cc99;
@light-green: #4cffd2;
@medium-green: #00b286;
@dark-green: #007f60;

@lightest-gray: #dee1e5;
@light-gray: #bec3cc;
@base-gray: #70767f; 