<div class="ss-page" data-ng-controller='ssFeedCtlr'>
	
	<div class="hero">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
					<div class="status-update">
						<input autofocus type="text" placeholder="What's on your mind?" />
						<div class="actions">
							<div class="add-photo pull-left">
								<img src="img/assets/icons/photo.png" width="16" />
								<p>Add Photo</p>
							</div>
							<div class="add-video pull-left">
								<img src="img/assets/icons/video.png" width="16" />
								<p>Add Video</p>
							</div>
						</div>
					</div>	
				</div>				
			</div>	
		</div>
		<div class="hero-nav-container">
			<div class="container">
				<div class="row">
					<div class="hero-nav col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
						<ul class="unstyled pull-left">
							<li><a ui-sref-active="active" ui-sref="index.feed.posts">All Posts</a></li>
							<li><a ui-sref-active="active" ui-sref="index.feed.photos">Photos</a></li>
							<li><a ui-sref-active="active" href="#">Videos</a></li>
						</ul>
						<ul class="unstyled toggle-list-view pull-right">
							<li ng-click="setViewMode('list')">
								<img src="img/assets/icons/list.png" />								
							</li>
							<li ng-click="setViewMode('grid')">
							<img src="img/assets/icons/grid.png" />
							</li>
						</ul>
					</div>
				</div>
			</div>	
		</div>	
	</div>
	
	<div ui-view></div>
	
	<loader
	    working="loading"
	    disable-background="true"
	    template="2">
	</loader>
	
	<div class="ss-photo-modal-dir"></div>
</div>